name: Frontend

on:
  push:
    branches:
      - 'frontend/**'
  pull_request:
    branches:
      - frontend
      - dev
      - main
    paths:
      - 'frontend/**'

jobs:
  release:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'
      - name: Install dependencies
